@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.IO
@using System.Linq;
@{
    string title = "MangaDB";
    string caption = "the lightning golden holy crossbow of manga databases";
    string webrootPath = Startup.envPath;
    string adImagePath = "/images/AdPanel";
    string[] adImages = AccessoryFunctions.GetImages(adImagePath);
    string newImagePath = "/images/NewPanel";
    string[] newImages = AccessoryFunctions.GetImages(newImagePath);
    string trendingImagePath = "/images/TrendingPanel";
    string[] trendingImages = AccessoryFunctions.GetImages(trendingImagePath);
    string allTimeFavoritesImagePath = "/images/AllTimeFavoritesPanel";
    string[] allTimeFavoritesImages = AccessoryFunctions.GetImages(allTimeFavoritesImagePath);
    NewsArticle[] news = AccessoryFunctions.GetNews();
}
<!DOCTYPE html>
<html>
    <head>
        <title>
            @caption
        </title>
        <link rel="stylesheet" type="text/css" href="~/css/homepage.css"/>
        <link rel="stylesheet" type="text/css" href="~/css/slick.css" />
        <link rel="stylesheet" type="text/css" href="~/css/slick-theme.css" />
        <script src="~/js/jquery-3.1.1.min.js"></script>
        <script src="~/js/slick.min.js"></script>
        <script src="~/js/homepage.js"></script>
    </head>
    <body>
        <p id="title">@title</p>
        <p id="caption">
            <i>@("Welcome to " + caption)</i>
        </p>
        <p class="contentType">FEATURED</p>
        <div id="advertSlider">
            @foreach (var adImage in adImages)
            {
                <div class="ad">
                    <img src="@(adImagePath + "/" + adImage + ".jpg")" alt="@adImage">
                </div>
            }
        </div>
        <p class="contentType">NEW</p>
        <div id="newSlider">
            @foreach (var newImage in newImages)
            {
                <div class="new">
                    <img src="@(newImagePath + "/" + newImage + ".jpg")" alt="@newImage">
                </div>
            }
        </div>
        <div id="sideBySideContainer">
            <div id="trendingContainer">
                <p class="contentType">TRENDING</p>
                <div id="trendingSlider">
                    @foreach (var trendingImage in trendingImages)
                    {
                        <div class="trending">
                            <img src="@(trendingImagePath + "/" + trendingImage + ".jpg")" alt="@trendingImage">
                        </div>
                    }
                </div>
            </div>
            <div id="allTimeFavoritesContainer">
                <p class="contentType">ALL TIME FAVORITES</p>
                <div id="allTimeFavoritesSlider">
                    @foreach (var allTimeFavoritesImage in allTimeFavoritesImages)
                    {
                        <div class="allTimeFavorites">
                            <img src="@(allTimeFavoritesImagePath + "/" + allTimeFavoritesImage + ".jpg")" alt="@allTimeFavoritesImage">
                        </div>
                    }
                </div>
            </div>
        </div>
        <p class="contentType">NEWS</p>
        <div id="newsSlider">
            @foreach (var newsArticle in news)
            {
                <div class="article">
                    <p class="newsTitle">
                        @newsArticle.title
                    </p>
                    <p class="newsContent">
                        @newsArticle.content
                    </p>
                </div>
            }
        </div>
    </body>
</html>